body{
    margin: 0;
    padding: 0;
}

.login{
    position: absolute;
    bottom: 50%;
    left:30%;
    transform: translate(50%,50%);
    background-color:rgb(211, 158, 158) ;
    padding: 100px;
    color: black;
    font-weight: 700;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px black,-10px -10px 20px rgb(201, 140, 117);
    
    /* background-image: url("assets/image/a1.jpg"); */
    
}
