/* header */
.header {
  background-image: url('../img/bg3.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  color: white;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Replace with your image */
  /* background-image: url('../img/bg3.jpg'); */
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  z-index: 1;
}

.navbar {
  position: relative;
  z-index: 2;
}

.nav-item .nav-link {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.hero-sec {
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.hero-sec__title {
  font-size: 4.5rem;
  font-weight: 700;
}

.hero-sec__desc {
  font-size: 1.5rem;
}

section {
  padding-bottom: 100px;
}

.brands {
  margin-top: 100px;
}

.brands img {
  width: 100px;
  height: auto;
  filter: contrast(1);
}

/* product */
.pro-wrap .card{
  border: 1px solid rgb(226, 226, 226);
}
.pro-wrap .card:hover{
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.096);
}
.pro-wrap .card-title {
  font-size: 1rem;
}

.pro-wrap img {
  height: 250px;
  object-fit: cover;
}

.pro-wrap .card-text {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: rgb(121, 121, 121);
  letter-spacing: 1px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.pro-wrap .card-price {
  font-size: 1.3rem;
  color: #222;
  font-weight: 700;
}
.pro-wrap .card-dis {
  font-size: 0.9rem;
  color: #4e4e4e;
  font-weight: 500;
  padding-right: 10px;
  text-decoration:line-through;
}

.pro-wrap .card-review {
  color: rgb(163, 163, 163);
  font-size: 0.8rem;
}

/* collection */
.collection .card {
  position: relative;
  overflow: hidden;
  height: 450px;
}

.collection .btn-main {
  width: 135px;
  text-transform: uppercase;
  height: 40px !important;
}

.collection .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Replace with your image */
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  z-index: 1;
}

.collection .card-body {
  position: relative;
  z-index: 2;
  color: #333;
  /* Adjust text color as needed */
}

.collection .card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.collection .card-one {
  background-image: url('../img/collection/c1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.collection .card-two {
  background-image: url('../img/collection/c2.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.collection .card-three {
  background-image: url('../img/collection/c3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.collection .card-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(255, 255, 255) !important;

}

.collection .card-text {
  color: white;
  font-weight: 600;
}

/* sale */
.sale {
  padding: 15px 0;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}

.sale h3 {
  text-align: center;
  font-size: 1.1rem;
  align-content: center;
  text-transform: uppercase;
}

/* promotions */
.promotions {
  background: rgba(248, 248, 248, 0.432);
  padding: 100px 0;
}

.promo {
  text-align: center;
}

.promo_icon {
  font-size: 2.3rem;
}

.promo_title {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.promo_desc {
  font-size: 0.9rem;
}

/* offers */
.offer-sec {
  padding-bottom: 0;
}

.offers-col {
  padding: 200px 0;
  background: linear-gradient(to right,rgba(0, 0, 0, 0.5), rgba(0, 0, 0,.1)), url('../img/bg4.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 0;
}
.offers-wrap{
  position: relative;
  z-index: 1;
}

.offers_head {
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.offers_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

/* CSS */
.btn-main {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-main:hover,
.btn-main:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn-main:hover {
  transform: translateY(-1px);
}

.btn-main:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.btn-light {
  background-color: transparent !important;
  border-color: white;
  color: white;
}

/* TITLE SEC */
.sec-title {
  position: relative;
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}

.sec-title::before {
  content: '';
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 80px;
  background-color: #1a97dc;
  border-radius: 40px;
}