    /* faQ */
    .faQ__accordion {
      width: 900px;
      margin: 50px auto;

      & .faQ__accordion-item {
        padding: 20px;
        border-top: 1px solid rgb(228, 228, 228);
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s all;


        & .faQ__accordion-header {
          position: relative;
          padding-left: 20px;
          font-size: 1.2rem;
          font-weight: 500;
          color: #333;
        }

        & .faQ__accordion-header::before {
          content: '\002B';
          /* display: inline-block; */
          position: absolute;
          top: -5%;
          left: -2%;
          font-size: 20px;
          color: #ee3d75;
          font-weight: bold;
          width: 30px;
          height: 30px;
          text-align: center;
        }


        &.active .faQ__accordion-header::before {
          content: '\2212';
        }

        &:hover {
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.106);
        }

        & .faQ__accordion-content {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;

          & .faQ_accordion-txt {
            padding: 15px 0 15px 20px;

            & ul {
              margin: 0;
              padding: 0;
            }
          }
        }

      }

      @media only screen and (max-width:992px) {
        & {
          width: 100%;
        }
      }
    }

    /* END faQ */