    /*  featured des 2  */
    .featured-des-2 {
      padding: 100px 0;

      & .featured-des-2__items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        /* column-gap: 30px; */
        row-gap: 50px;

        & .featured-des-2__item {
          /* width: calc(100% / 3 - 20px); */
          width: calc(100% * (1/3) - 60px);
          margin: 0 30px;
          text-align: center;
          transition: all 0.2s ease;
          cursor: pointer;

          & .featured-des-2__icon {
            width: 180px;
            height: 180px;
            margin: 0 auto 20px;
            border: 10px solid #EEF4F2;
            background: transparent;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 500ms ease;

            & .featured-des-2__img {
              width: 110px;
              height: auto;
            }
          }


          & .featured-des-2__head {
            font-size: 1.2rem;
            font-weight: 600;
            padding: 10px 0;
            color: #013162;
          }

          & .featured-des-2__desc {
            font-size: 1rem;
            line-height: 1.8;
            text-align: justify;
          }

          &:hover {
            &:nth-child(1) {
              & .featured-des-2__icon {
                background-color: #a9ca9c;
                border-color: #e4f1df;
              }
            }

            &:nth-child(2) {
              & .featured-des-2__icon {
                background-color: #c4a7cf;
                border-color: #f3e9f7;
              }
            }

            &:nth-child(3) {
              & .featured-des-2__icon {
                background-color: #ffcf7d;
                border-color: #fff1d8;
              }
            }

            &:nth-child(4) {
              & .featured-des-2__icon {
                background-color: #86b4d4;
                border-color: #e7f2fa;
              }
            }
          }

          &:nth-child(1) {
            & .featured-des-2__icon {
              border-color: #a9ca9c;
            }
          }

          &:nth-child(2) {
            & .featured-des-2__icon {
              border-color: #c4a7cf;
            }
          }

          &:nth-child(3) {
            & .featured-des-2__icon {
              border-color: #ffcf7d;
            }
          }
          &:nth-child(4) {
            & .featured-des-2__icon {
              border-color: #86b4d4;
            }
          }


        }
      }

      @media only screen and (max-width:992px) {
        & .featured-des-2__items .featured-des-2__item {
          width: calc(100% * (1/2) - 40px);
          margin: 0 20px;
        }
      }

      @media only screen and (max-width:768px) {
        & .featured-des-2__items .featured-des-2__item {
          width: 100% !important;
          margin: 0;
        }
      }
    }
    /*  END featured des 2  */